html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
}

.main {
    display: flex;
}

.quadro {
    width: 600px;
    height: 750px;
    padding: 20px;
    margin: 80px;
    background-color: #546e6e;
    border: 15px solid #303030;
}

.foto {
    width: 550px;
    height: fit-content;
}

.vs {
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-top: 400px;
}

.vs2 {
    width: 150px;
    height: 150px;
    justify-content: center;
}